### Assignment 1
## Fundamentals and operators

### 1 Write a Python program to print the ‚Äú /n ‚Äú

In [2]:


print("\\n")

\n

## 2 Write a Python program to print the ‚Äú \n ‚Äù

In [1]:

print("/n")

/n

## 3 Write a Python program which accepts the radius of a circle from the user and compute the area.
 formulae to calculate area of circle:  œÄr¬≤

In [4]:


r= float(input("radius of the circle"))
a= 3.14*r*r

print("area of circle is",r*a)

radius of the circle7
area of circle is 1077.02

## 4 Write a Python program to get the volume of a sphere with radius 6.
formulae to calculate volume of sphere:  4/3 ùúã r¬≥

In [5]:

r=float(input("enter the radius"))
a=4/3*3.14*r**3

print("the volume of sphere is",a)
round(a,2)## to print value in round figure after decimal

enter the radius7
the volume of sphere is 1436.0266666666666

1436.03

## 5 Write a Python program to calculate the sum of three equal numbers, and the result is the three times of their sum.

In [6]:


a=50
b=50
c=50

total=a+b+c

result=total*3
print("result is",result)

result is 450

## 6 Write a Python program that will accept the base and height of a triangle and compute the area
formulae to calculate area of triangle :  1/2 base * height

In [7]:


b=int(input("base of the triangle"))
h=int(input("height of the triangle"))

a=1/2*b*h
print("area will be",a)

base of the triangle5
height of the triangle7
area will be 17.5

## 7 Write a Python program to solve (x + y) * (x + y) 
Test Data : x = 4, y = 3
Expected Output :   49

In [8]:


x=4
y=3

a=x+y
b=x+y
result=a*b
print(result)

49

## 8 Write a Python program to compute the simple interest of a specified principal amount, rate of interest, and a number of years.
Test Data : amt = 10000, int = 3.5, years = 7

In [9]:


p=10000
r=3.5
t=7

result=p*r*t
print("si will be",result)

si will be 245000.0

## 9 Write a Python program to convert (parse) a string to Float or Integer.
Test Data : "246.2458"
Expected Output : 246

In [10]:


a="246.2458"
print(a)
print(type(a))
b=float(a)
print(b)
print(type(b))
c=int(b)
print(c)
print(type(c))

246.2458
<class 'str'>
246.2458
<class 'float'>
246
<class 'int'>

## 10 Write a Python program to swap two variables
Test Data : a = 77, x= 1
Expected Output : a= 1, x=77

In [11]:


a=77
x=1

y=a
a=x
x=y

print("value of a",a)
print("value of x",x)

value of a 1
value of x 77

## 11 Write a Python program to calculate the cube of any number which was taken by input.

In [12]:


n=int(input("any number"))

cube=n*n*n

print("cube of any number is",  cube)

any number7
cube of any number is 343

## Assignment 2
## Conditional Statements Questions

## 1 write a program to check the number is positive or negative or zero

In [3]:

num=int(input("enter the number"))
if num>0:
    print("number is positive ")
elif num==0:
    print("number is zero")
else:
    print("number is negative")

enter the number-1
number is negative

## 2 WAP to take a number from user and check if number is divisble by 7 or not, also check if it is divisble by 5 or not , and if the no is divisible by both 5 and 7 print as magic no'

In [8]:


num=int(input("enter the number"))
if num%7==0 and num%5==0:
    print(num, "is magic number") 
elif num%5==0:
    print(num,"is divisble by 5")
elif num%7==0:
    print(num, "is divisible by 7")

enter the number55
55 is divisble by 5

## 3 WAP to check wether the entered number is odd or even if it is odd then also check it is divisble by 7 if it is divisble by 7 then compute its cube'''

In [17]:


num=int(input("enter the number"))
if num%2==0:
    print(num, "is even number")
else:
    print(num, "is odd number")
    if num%7==0:
        print(num**3,"is cube of odd number")

enter the number7
7 is odd number
343 is cube of odd number

## 4 write a program to take a username and password from the user and if it matches with 'pramod123' and '123456789'. welcome to the website else report invalid username and password

In [20]:


username=(input("enter the username"))
password=(input("enter the password"))
if username=="pramod123" and password=="123456789":
    print("welcome to the website")
else:
    print("invalid username and password")

enter the usernamepramod
enter the password12345
invalid username and password

## 5 Write a python program to take the three numbers as input and find the largest number.

In [23]:


num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=int(input("enter the second number"))
if num1>num2 and num1>num2:
    print("num1 is greater number")
elif num2>num1 and num2>num3:
    print("num2 is greater number")
else:
    print( "num3 is greater number")

enter the first number55
enter the second number66
enter the second number33
num2 is greater number

## 6 Write a python  program that reads three positive numbers a, b, c and determines whether they can form the three sides of a triangle.
HINT: in triangle the sum of two side is greater than third side

In [29]:


a=int(input("first side of the triangle"))
b=int(input("second side of the triangle"))
c=int(input("third side of the triangle"))

if (a+b)>c or (b+c)>a or (a+c)>b:
    print("they can form triangle")
else:
    print("they cannot form triangle")

first side of the triangle5
second side of the triangle10
third side of the triangle15
they can form triangle

## 7 Write a python program  to check the triangle , is equilateral, isosceles, or scalene.
HINT:
In Equilateral triangle all three sides are equal
In isosceles triangle any two side are equal
In scalene triangle all three side are unequal

In [37]:


a=int(input("enter the side1"))
b=int(input("enter the side2"))
c=int(input("enter the side3"))

if a==b and b==c and c==a:
    print("equuilateral triangle")
elif a==b or b==c or c==a:
    print("isosceles triangle")
else:
    print("scalene triangl")

enter the side11
enter the side22
enter the side31
isosceles triangle

## 8 A toy vendor supplies three types of toys: Battery Based Toys, Key-based Toys, and Electrical Charging Based Toys. The vendor gives a discount of 10% on orders for battery-based toys if the order is for more than Rs. 1000. On orders of more than Rs. 100 for key-based toys, a discount of 5% is given, and a discount of 10% is given on orders for electrical charging based toys of value more than Rs. 500. Assume that the numeric codes 1,2 and 3 are used for battery based toys, key-based toys, and electrical charging based toys respectively. Write a program that reads the product code and the order amount and prints out the net amount that the customer is required to pay after the discount.

In [13]:


amount=0
qty=0
print("welcome to toy store\n\n")
print("1--battery toys:: Rs 200\n 2---key toys :: Rs 50\n 3---charging toys :: Rs 150")
choice=input("what type of toy do you like to have")
if choice=="1":
    amount=200
    print("your amount is", amount)
    print("10 % discount on orders above 1000")
    qty=int(input("enter the qty"))
    if qty>5:
        amount=200*qty
        disc= amount/10
        print("your final price after disc is", amount-disc)
    elif qty<5:
        amount=200*qty
        print("your final price is",amount)
    else:
        print("this toy is not available")
elif choice=="2":    
    amount=50
    print("your amount is",amount)
    print("5 % discount on orders above 100")
    qty=int(input("enter the qty"))
    if qty>2:
        amount=50*qty
        disc=amount/5
        print("your final price after disc is", amount-disc)
    elif qty<2:
        amount=50*qty
        print("your final price is",amount)
    else:
        print("this toy is not available")
elif choice=="3":
    amount=150
    print("your amount is",amount)
    print("10 % discount on orders above 500")
    qty=int(input("enter the qty"))
    if qty>3:
        amount=150*qty
        disc=amount/10
        print("your final price after disc is", amount-disc)
    elif qty<3:
        amount=150*qty
        print("your final price is",amount)
    else:
        print("this toy is not available")
else:
    print("this toy is not available")

welcome to toy store


1--battery toys:: Rs 200
 2---key toys :: Rs 50
 3---charging toys :: Rs 150
what type of toy do you like to have3
your amount is 150
10 % discount on orders above 500
enter the qty5
your final price after disc is 675.0

## 9 11. The Paschim Gujarat Vij Company Ltd. computes the electricity bill based on the following table:
Units Consumed
Charges
0-100
0.50 per unit
101-200
Rs. 50 plus Rs. 1 per unit over 100 units
201-300
Rs. 150 plus 1.50 per unit over 200 units
> 300
Rs. 300 plus Rs.2 per unit over 300 units
 Hint : 300+(500-300)*2 if unit is 500





Ask user to enter the Past meter reading and current meter reading.
Find the units consumed.
Compute the bill according to given matrix.

In [ ]:


past_mr=float(input("enter past meter reading  "))
current_mr=float(input("enter current meter reading  "))
untcon=current_mr-past_mr
if untcon>=0 and untcon<=100:
    print("your bill is",untcon*0.50)
elif untcon>100 and untcon<=200:
    print("your bill is" , untcon*1+50)
elif untcon>200 and untcon<=300:
    print("your bill is", untcon*1.50+150)
elif untcon>300:
    print("your bill is", untcon*2+300)
else:
    print("invalid input")

## 11 .Consider you have your own restaurant : three item choices  is there :
1: pizza
2:  burger
3:  hotdog
toppings available for pizza: paneer, mushrooms, and capsicum
fillings avialable for burger and hot dog is  single layer cheeze and double layer cheese
and side order menu is softdrinks
WAP TO CALCULATE THE COST OF ITEM which user ordered BASED ON THE MENU OF RESTAURANT'''

In [27]:


amount=0
print("welcome to masala chopsy\n\n")
print("1---pizza ::: Rs 150\n 2---burger ::: Rs 80\n 3--hotdog ::: Rs 120")
choice=input("what would you like to have")
if choice=="1":
    print("p--- paneer ::  Rs 50\nm--- mashroom ::  Rs 40\nc--- capsicum ::  Rs 25")
    c_t=input("enter the choice fr toppings")
    if c_t=="p":
        amount=150+50
        print("your amount is ",amount)
    elif c_t=="m":
        amount=150+40
        print("your amount is ",amount)
    elif c_t=="c":
        amount=150+25
        print("your amount is ",amount)
    else:
        print("that toping is not avaliable")
elif choice=="2":
    print("sc--- single layer cheeze::  Rs 50\ndc--- double layer cheeze::  Rs 80")
    c_t=input("enter the choice fr filling")
    if c_t=="sc":
        amount=80+50
        print("your amount is ",amount)
    elif c_t=="dc":
        amount=80+80
        print("your amount is ",amount)
    else:
        print("that filling is not avaliable")
elif choice=="3":
    print("sc--- single layer cheeze::  Rs 70\ndc--- double layer cheeze::  Rs 100")
    c_t=input("enter the choice fr filling")
    if c_t=="sc":
        amount=120+70
        print("your amount is ",amount)
    elif c_t=="dc":
        amount=120+100
        print("your amount is ",amount)
    else:
        print("that filling is not avaliable")
else:
    print("this item isnot avaliable...thanku..!!!!!",amount)
choice=input("would u like to have softdrink yes or no")
if choice=="yes":
    print("pe----  pepsi  ---- 200 Rs\n\nle----- lemonade --- 300 Rs")
    choice=input("enter the your choice")
    if choice=="le":
        amount=amount+300
        print("ur final amount is ",amount)
    elif choice=="pe":
        amount=amount+200
        print("ur final amount is ",amount)
    else:
        print("this option is available")
else:
    print("thankuuu ")

welcome to masala chopsy


1---pizza ::: Rs 150
 2---burger ::: Rs 80
 3--hotdog ::: Rs 120
what would you like to have4
this item isnot avaliable...thanku..!!!!! 0
would u like to have softdrink yes or noyes
pe----  pepsi  ---- 200 Rs

le----- lemonade --- 300 Rs
enter the your choicele
ur final amount is  300

## Assignment 3
## Loops questions

## 1 Write a program whether the given list of number is lucky.  a lucky list contains at least one number is divisible by 7.

In [7]:


l=[11,12,13,15,35,16]
count=0
for i in l:
    if i%7==0:
        count=count+1
        print("this list have",count,"lucky numbers")

this list have 1 lucky numbers

## Q.2 Write a program to sum of all numbers from 1 to given number.

In [14]:

start=1
end=int(input("enter the end"))
sum=0
for i in range(start,end+1):
    sum=sum+i
print("sum of given numbers is",sum)

enter the end10
sum of given numbers is 55

## Q.3 Write a program to check whether the given number is armstrong or not
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [10]:


num1=int(input("enter the number"))
temp=num1
sum1=0
while(num1!=0):
    r=num1%10
    num1=num1//10
    n_cube=r**3
    sum1=sum1+n_cube
if sum1==temp:
    print("the number is armstrong")
else:
    print("not")

enter the number153
the number is armstrong

## Q4. Write a program to print the following using while loop   
a. First 10 Even numbers   
b. First 10 Odd numbers   
c. First 10 Natural numbers   
d. First 10 Whole numbers

In [11]:
##4
#a


i=1
while(i<=20):
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [9]:
#b

i=1
while(i<=10):
    print(2*i-1)
    i=i+1

1
3
5
7
9
11
13
15
17
19

In [10]:
#c

i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [12]:
#d

i=0
while(i<=9):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

## Q5. Write a program to print first 10 integers and their squares using while loop.   
1 1   
2 4   
3 9 and so on

In [5]:


i=1
while(i<=10):
    print(i,end=" ")
    print(i*i)
    i=i+1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [13]:
##6

for i in range(10,301,10):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [18]:
##7
for i in range(105,-1,-7):
    print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7
0

In [29]:
##8

start=int(input("enter the start"))
end=int(input("enter the end"))
sum1=0
for i in range(start,end+1):
    sum1=sum1+i
print(sum1)

enter the start1
enter the end10
55

In [30]:
##9

sum_p=0
sum_n=0
count_n=0
count_p=0

while(True):
    num=int(input("enter the number"))
    if num>0:
        count_p=count_p+1
        sum_p=sum_p+num
    elif num<0:
        count_n=count_n+1
        sum_n=sum_n+num
    else:
        break
print("the count of negative numbers",count_n)
print("the count of positive numbers",count_p)
print("the sum of positive number ",sum_p)
print("the sum of negative number",sum_n)

enter the number3
enter the number7
enter the number90
enter the number10
enter the number0
the count of negative numbers 0
the count of positive numbers 4
the sum of positive number  110
the sum of negative number 0

In [21]:
##10

for i in range(101,500):
    if i%13==0 and i%3!=0:
        print(i)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [39]:
#11 we will do in the list

lar=0
print('Enter 10 numbers')
for i in range(1,11):
    n=int(input("enter the numbers"))
    if i==1:
        print("this is the smallest number")
    elif n>lar:
        lar=n
print("the largest number is",lar)

Enter 10 numbers
enter the numbers1
this is the smallest number
enter the numbers2
enter the numbers3
enter the numbers4
enter the numbers5
enter the numbers7
enter the numbers8
enter the numbers5
enter the numbers10
enter the numbers0
the largest number is 10

In [27]:
#12

end=int(input("enter the end"))
for i in range(1,end+1):
    print(i*1)

enter the end20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
end=int(input("enter the end"))

for i in range(1,end+1):
    print(i*i)

enter the end20
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [2]:
#13

un="pramod123"
pw="123456789"
attempt=0
while(True):
    if attempt<5:
        username=input("enter the username")
        password=input("enter the password")
        if username==un and password==pw:
            print("sign in sucessfully")
            break
        else:
            attempt=attempt+1
            print("incorrect details \n plz re enter")
            continue
    else:
        print("u crossed the limit .. try again later")
        break

enter the usernamesbfvr
enter the passwordsdhbv
incorrect details
 plz re enter
enter the usernamesdbvsv
enter the passworddsvbuv
incorrect details
 plz re enter
enter the usernamepramod123
enter the password123456789
sign in sucessfully

In [24]:
#14


for i in range(2000,3201):
    if i%7==0 and i*5!=0:
        print(i, end=",")

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

In [24]:
#15

number=int(input("enter the four digit number in binary form"))
if number%5==0:
    print(number,"is divisible by 5")
else:
    print("not")

enter the four digit number in binary form0220
220 is divisible by 5

In [23]:
#16

for num in range(1000,3000):
    number=num
    count=0
    while(num!=0):
        ld=num%10
        if ld%2==0:
            count=count+1
        num=num//10
    if count==4:
        print(number)

2000
2002
2004
2006
2008
2020
2022
2024
2026
2028
2040
2042
2044
2046
2048
2060
2062
2064
2066
2068
2080
2082
2084
2086
2088
2200
2202
2204
2206
2208
2220
2222
2224
2226
2228
2240
2242
2244
2246
2248
2260
2262
2264
2266
2268
2280
2282
2284
2286
2288
2400
2402
2404
2406
2408
2420
2422
2424
2426
2428
2440
2442
2444
2446
2448
2460
2462
2464
2466
2468
2480
2482
2484
2486
2488
2600
2602
2604
2606
2608
2620
2622
2624
2626
2628
2640
2642
2644
2646
2648
2660
2662
2664
2666
2668
2680
2682
2684
2686
2688
2800
2802
2804
2806
2808
2820
2822
2824
2826
2828
2840
2842
2844
2846
2848
2860
2862
2864
2866
2868
2880
2882
2884
2886
2888

In [37]:

#17

num=int(input("Enter the number"))
count=0
while(num>0):
    count=count+1
    num=num//10
print("The number of digits in the number are:",count)

Enter the number1000
The number of digits in the number are: 4

## Assignment 4

## Q.1 Write a program to accept a string and display the string with changed case(Change upper and lower case)

In [3]:
s=input("enter the string")
s1=s.lower()
s1

s2=s.upper()
s2

enter the stringDeepanshu

'DEEPANSHU'

## Q.2   Write a program to count the length of string without using len() function.

In [5]:
s="deepanshu"
count_s=0
for i in s:
    count_s=count_s+1
count_s

9

## Q.3 Write a program to accept the string from user and display the ascii value for each letter.

In [16]:
s=input("enter the string")
lenght=len(s)
for i in s:
    Ascii=ord(i)
    print(i,"---",Ascii)

enter the stringdeepanshu
d --- 100
e --- 101
e --- 101
p --- 112
a --- 97
n --- 110
s --- 115
h --- 104
u --- 117

## Q.4 Write a program that accepts the string and replace all spaces by ‚Äú#‚Äù symbol.

In [18]:
s="hello how are you today"
s1=s.replace(" ","#")
s1

'hello#how#are#you#today'

## Q.5 Write a program that delete the character at specific position.

In [19]:
s=input("enter the string  ")
ch=input("enter the characters to be deleted ")
index=s.index(ch)
s1=s[0:index]+s[index+1:]
s1

enter the string  madrid
enter the characters to be deleted d

'marid'

## Q.6 Write a  program which accepts a strings and count the frequency of each vowel.

In [22]:
s=input("enter the string")
count_v=0
for i in s:
    if i in "AEIOUaeiou":
        count_v=count_v+1
        print(i,"vowels are",count_v)

enter the stringdeepanshu
e vowels are 1
e vowels are 2
a vowels are 3
u vowels are 4

## Q.7 Write a program which accepts the two strings from user and display the common words(ignore case).

In [24]:
s1=input("enter the first string")
s2=input("enter the second string")
s3=""
s4=""
for i in s1:
    if i in s2:
        s3=s3+i
for j in s2:
    if j in s1:
        s4=s4+j
print(s3)
print(s4)

enter the first stringdeepanshu
enter the second stringbalmeet
eea
aee

## Q.8 WAP to remove vowels from the string.

In [32]:
s=input("enter the string  ")
s1=""
for i in s:
    if i not in "aeiouAEIOU":
        s1=s1+i
s1

enter the string  deepanshu

'dpnsh'

## Q.9 Write a program that takes full name as input and displays the abbrevations of the first and middle names except the last name which is displayed as it is. Eg:
Robert Brett Roser output :R.B.Roser.

In [2]:
s=input("enter the full name")
l=s.split()
l[0][0].upper()+"."+l[1][0].upper()+"."+l[2]

enter the full namedeepanshu singh tamta

'D.S.tamta'

## Q.10 Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.

In [11]:
s=input("enter the string")
if len(s)>2:
    s1=s[0:2]+s[-2:]
    print(s1)
else:
    print("")

enter the stringdeepanshu
dehu

## Q.11 Write a Python program to get a single string from two given strings, 
separated by a space and swap the first two characters of each string. Go to the editor
Sample String : 'abc', 'xyz'
Expected Result : 'xyc abz' ''

In [5]:
s1='abc'
s2='xyz'

s3= second[ :2] + first[2:]
s4= first[ :2] + second[2:]

swap = s3+s4

print(swap)

xycabz

## Q.12 Write a Python program to add 'ing' at the end of a given string (length should be at least 3). 
If the given string already ends with 'ing' then add 'ly' instead. 
If the string length of the given string is less than 3, leave it unchanged. 
Sample String : 'abc'

In [9]:
s=input("enter the string ")
if len(s)>=3:
    if s.endswith("ing"):
        s1=s+"ly"
        print(s1)
    else:
        s2=s+"ing"
        print(s2)
else:
    print("no change in the string", s)

enter the string fly
flying

## Q.13 Write a Python program to remove the characters which have odd index values of a given string.

In [12]:
s="madrid"
s[::2]

'mdi'

## Q.14 Write a Python function to convert a given string to all uppercase if it 
contains at least 2 uppercase characters in the first 4 characters.

In [10]:
s=input("enter the string")
s1=s[0:4]
count=0
for i in s1:
    if i.isupper():
        count=count+1
if count>=2:
    s_upper=s.upper()
    print(s_upper)
else:
    print("no condition met")

enter the stringDeePanshu
DEEPANSHU

## Q.15 Write a Python program to print the index of the character in a string.
Sample string: madrid

In [17]:
s="madrid"
count=0
for i in s:
    count=count+1
    print(i,"-----",count)

m ----- 1
a ----- 2
d ----- 3
r ----- 4
i ----- 5
d ----- 6

## Q.16 Write a Python program to check whether a string contains all letters of the alphabet

In [20]:
s="a quick brown fox jumps over the lazy dog"
s1=s.replace(" ","")
s2=sorted(s1)
a=""
s3=a.join(s2)
unique=""
for i in s3:
    if i not in unique:
        unique=unique+i
print("it contains all the alphabets    ",unique)

it contains all the alphabets     abcdefghijklmnopqrstuvwxyz

## Assignment 5

## Q.1  Write a Python program to get the smallest number from a list.

In [2]:
l=[12,13,14,15]
min(l)

12

## Q.2 Write a program to find unique elements of string specified by user and display unique elements in list

In [5]:
s=input("enter the string   ")
words=s.split()
from collections import Counter
Counter(words)
unique=[]
for i in words:
    if i not in unique:
        unique.append(i)
unique

enter the string   hi how r u i m good what about you i also good

['hi', 'how', 'r', 'u', 'i', 'm', 'good', 'what', 'about', 'you', 'also']

## Q.3 Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [1]:
l=input("enter the elements in the list ").split()
l

enter the elements in the list aba bac vab nam fag jai kala

['aba', 'bac', 'vab', 'nam', 'fag', 'jai', 'kala']

In [2]:
l[1:4]

['bac', 'vab', 'nam']

## Q.4 Write a program to display all the elements of odd position.

In [17]:
l=[12,14,15,780,0,56,4,54,6]
l[1::2]

[14, 780, 56, 54]

## Q.5  Write a Python program to convert a string to a list.

In [4]:
s=input("enter the string ")
s
list(s)

enter the string madrid

['m', 'a', 'd', 'r', 'i', 'd']

## Q.6 Write a Python program to insert an element at a specified position into a given list.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
After inserting an element at kth position in the said list:
[1, 1, 12, 2, 3, 4, 4, 5, 1]

In [6]:
l=[1, 1, 2, 3, 4, 4, 5, 1]
e=input("enter the element ")
pos=int(input("enter the postion at which new element is to be added"))
l.insert(pos,e)
l

enter the element 12
enter the postion at which new element is to be added2

[1, 1, '12', 2, 3, 4, 4, 5, 1]

## Q.7 How to reverse the List using slice

In [7]:
l=[1, 1, 2, 3, 4, 4, 5, 1]
l[-1::-1]

[1, 5, 4, 4, 3, 2, 1, 1]

## Q.8 How to get the square of each list element between two range

In [9]:
start=int(input("enter the start  "))
end=int(input("enter the end  "))
l=[]
for i in range(start,end+1):
    sq=i**2
    l.append(sq)
l

enter the start  2
enter the end  10

[4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q.9 How to Filter even values from a list using list comprehension

In [10]:
start=int(input("enter the start  "))
end=int(input("enter the end  "))

enter the start  2
enter the end  10

In [14]:
[i for i in range(start,end+1) if i%2==0 ]

[2, 4, 6, 8, 10]

## Q.10  How to remove elements in a list before a specific index

In [20]:
l=[12,13,14,15,16]
l.pop()
l
4

[12, 13, 14, 15]

## Q.11 ## wap to reverse each  elements of the list 
l1=["23","78","hello","nitin","okay"] #output : l["32","87","olleh","nitin",yako"]
l2=[23,"78","hello","nitin","okay"]   #output : l["32","87","olleh","nitin",yako"]

In [28]:
l1=["23","78","hello","nitin","okay"]
l3=[]
for i in l1:
    rev=i[::-1]
    l3.append(rev)
l3

['32', '87', 'olleh', 'nitin', 'yako']

In [33]:
l2=[23,"78","hello","nitin","okay"]
l4=[]
for i in l2:
    rev=str(i)
    f=rev[::-1]
    l4.append(f)
l4

['32', '87', 'olleh', 'nitin', 'yako']

## Q.12 ## wap to display the square of int numbers and cube of float numbers of the list otherwise display hello
example:
[20,80,90.6,"ji",901]   ## input
[400, 6400, 743677.4159999999, 'heelo', 811801]  ## output

In [38]:
import math

In [46]:
l=[20,80,90.6,"ji",901]
for i in l:
    if type(i)==(int):
        s=math.sqrt(i)
        l[l.index(i)]=s
    elif type(i)==float:
        s1=i**3
        l[l.index(i)]=s1
    elif type(i)==str:
        l[l.index(i)]="hello"
        
l

[4.47213595499958,
 8.94427190999916,
 743677.4159999999,
 'hello',
 30.01666203960727]